html {
    font-size: 62.5%;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
footer p {
    margin: 0;
    padding: 0;
}

a {
    color: inherit; text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

img{
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
}

footer {
    background-color: $grey;
    margin: 0;
    p {
        color: $white;
        text-align: center;
        a:hover {
            color: $yellow;
        }
    }
}

.wrapper {
    max-width: 1280px;
    width: 100%;
    margin: 0;
}

.container {
    width: 85%;
}

.flexbox {
    display: flex;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.blueButton {
    // Blue on the design guide was TOO DARK! 
    background-color: lighten($lightBlue, 6%);
    height: 30px;
    width: 80px;
    padding: 10px 15px;
    transition: .2s,;
    &__find {
        @extend .blueButton;
        width: 180px;
        height: 50px;
    }
}

.blueButton:hover,
.blueButton:focus {
    box-shadow: 3px 3px 0px 2px $yellow;
}
