// HOME PAGE //
header.home {
    height: 85vh;
    background-color: $yellow;
}

.heroContent {
    justify-content: center;
    height: 100%;
    width: 100%;
    
}

.heroContent .container {
    justify-content: space-between;
    position: relative;
}

.title {
    width: 50%;
    margin-right: 40px;
    position: relative;
}

.title img {
    position: absolute;
    height: 120px;
    width: 195px;
    left: 5px;
    top: 110px;
}

.home h1 {
    position: absolute;
    left: 60px;
    top: 180px;
}

.imageBox {
    margin-right: 16px;
    margin-top: 40px;
}

.imageBox img {
   height: 500px;
   width: 359px;
   box-shadow: 16px 16px 0px 0px #ffffff;
}


// BLOG HEADER //
.splash {
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 65vh;
    &--blog {
        @extend .splash;
        background-image: url(../assets/blog-image-1.jpg)
    }
    &--contact {
        @extend .splash;
        background-image: url(../assets/contact-image-1.jpg);
    }
    &--heading {
        position: absolute;
        bottom: -40px;
    }
}

.splash .container {
    justify-content: flex-start;
    position: relative;
}


