// HOME PAGE MAIN//

.who {
    background-color: $white;
    padding: 80px 0 100px;
    justify-content: center;
}

.who .container {
    padding-right: 10%;
    width: 82%;
}

.home p{
    max-height: 260px;
}


.faves,
.travel {
    justify-content: center;
    height: 57vh;
}

.faves .container,
.travel .container {
    justify-content: space-between;
}


.image1,
.image2 {
    width: calc(55% - 53.5px);
    max-height: 295px;
    position: relative;
    height: 100%;
}

.favesText,
.travelText {
    width: calc(50% - 60px);
}

.image1 img {
    position: absolute;
    top: -11%;
    box-shadow: 14px 14px 0px 0px $red, -95px 14px 0px 0px $red;
}

.image2 img {
    position: absolute;
    top: 9%;
    box-shadow: 14px 14px 0px 0px $yellow, 95px 14px 0px 0px $yellow;
}

.favesText {
    margin-top: 71px;
    padding-right: 10px;
}

.travelText {
    text-align: right;
    margin-right: 10px;
    margin-top: 25px;
}

// MID PAGE NAV SECTION //


.middleNav {
    background: $white;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    & li:nth-of-type(even) {
        padding-left: 10px;
    }
    & li {
        margin-bottom: 30px;
    }
}


.gridTime {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 100px 0 50px;
    & li > p {
        padding-left: 55px;
    }
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $yellow;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transition: .3s;
    & +h3 {
        margin-left: 15px;
    }   
}

.navBoxes li a:hover .icon {
    color: $lightBlue;
    transform: scale(1.3);
}

// JOURNEY SECTION//
.journey {
    background: $white;
    display: flex;
    justify-content: center;
    padding: 70px 0 70px;
    &__grid {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 60px;
    }
    &__img img{
        box-shadow: 14px 14px 0px 0px $yellow;
    }
}



// PHOTOS //
.photos {
    display: flex;
    &__grid {
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        padding: 60px 0;

    }
}



// BLOG PAGE MAIN//
    .blogPosts {
        padding: 90px 0 30px;
        background-color: $white;
        justify-content: center;
        &--grid {
            display: grid;
            grid-template-columns: 1fr 2fr;
            gap: 30px;
        }
        &--post {
            background: white;
            padding: 30px;
        }
        &--space {
            margin-bottom: 15px;
        }
    }

    .blogPosts article img {
        width: auto;
        margin-right: 15px;
    }

    .blogPosts article:nth-of-type(odd) {
        border-bottom: 5px solid $yellow;
        margin-bottom: 25px;
    }
    
    .guest + p,
    aside p:nth-of-type(1) {
        margin: 0;
    }
    aside h4 {
        margin-bottom: 10px;
    }

    .list li::before{
        content: "\2022";
        color: $yellow;
        margin: 0 10px 0 5px;
    }

    .seeMoreButton label,
    .seeMoreButton input {
        display: none;
        text-align: center;
        font-size: 3rem;
        cursor: pointer;
        width: 25px;
        margin: 0 auto 25px;
    }



// CONTACT PAGE MAIN//

.contactMain {
    background-color: $white;
    padding: 90px 0 30px;
    height: 100vh;
}

.contactMain .wrapper {
    justify-content: center;
}

.contactInfo {
    height: auto;
    width: calc(35%);
    max-height: 272px;
    overflow: none;
    background: white;
    padding: 30px;
}

.form {
    width: calc(65% - 30px);
    &--users {
        justify-content: space-between;
    }
    &--info {
        height: 60px;
        width: calc(50% - 5px);
        padding-left: 20px;
    }
    &--blog {
        width: 100%;
    }
}



.contactInfo li i {
    padding: 2px;
    margin-right: 21px;
}

.contactInfo li {
    display: inline-block;
}

.contactPage {
    justify-content: space-between;
}

.contactPage p{
    margin: 0;
}

.email {
    padding: 10px 0;
}

textarea {
    margin: 15px 0;
    padding: 30px 0 0 20px;
    height: 275px;
}

button[type=submit] {
    width: 100%;
    height: 50px;
    background-color: lighten($lightBlue, 6%);
    border: none;
    padding: 10px 15px;
    transition: .2s;
}

button[type=submit]:hover,
button[type=submit]:focus {
    box-shadow: 4px 3px 0 0 $yellow;
}