@media (max-width: 940px) {
    //HOME PAGE TABLET SIDEWAYS
    //HEADER
    header.home {
        height: 80vh;
    }

    .home h1 {
        top: 400px;
    }

    .title img {
        top: 330px; 
    }

    .imageBox {
        margin-top: 20px;
    }

    //ABOUT SECTION //

    .who{
        margin-bottom: 20px;
    }

    .faves,
    .travel {
        height: auto;
        justify-content: center;;
    }

    .flip {
        align-items: center;
    }

    .faves .container {
        flex-direction: column;
    }

    .travel .container {
        flex-direction: column-reverse;
    }

    .favesText,
    .travelText {
        width: 82%;
        margin: 20px 0;
    }

    .image1 img,
    .image2 img {
        position: static;
    }

    .image1 img {
        box-shadow: 14px 14px 0px 0px $red, -397px 14px 0px 0px $red, -100px 14px 0px 0px $red;
    }

    .image2 img {
        box-shadow: -14px 14px 0px 0px $yellow, 397px 14px 0px 0px $yellow, 100px 14px 0px 0px $yellow;
    }

    .image1 {
        margin-left: 30%;
        align-self: right;
    }

    .image2 {
        margin-right: 30%;
        align-self: left;
    }


    //BLOG PAGE//
    aside .blueLink {
        display: block;
    }

    aside.blogPosts--post {
        text-align: center;
    }
    .listContent {
        max-height: 0;
        overflow: hidden;
        transition: all .5s;
        font-size: 1.5rem;
    }

    .blogPosts--post label {
        display: block;
        cursor: pointer;
        font-size: 3rem;
    }

    .seeMoreButton:hover {
        color: $lightBlue;
        transform: scale(1.3);
    }

    input#postList:checked ~ .listContent {
        max-height: 100%;
    }

    .firstPost {  
        overflow: scroll;
        max-height: 500px;
        transition: max-height .3s ease-in-out;
    }


    // CONTACT PAGE//


   .contactPage {
        flex-direction: column;
        align-items: center;
    }
    
    .contactInfo {
        width: 100%;
    }

    .form {
        width: 100%;
        margin-top: 30px;
    }

}

@media (max-width: 768px) {

    // NAVBAR 2 BURGER TIME//
    

    // HOME PAGE//
    header.home {
        background: url(../assets/home-image-1.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        & .imageBox {
            display: none;
        }
        & h1 {
            top: 500px;
            color: darken($yellow, 5%);
        }
    }


    .title img {
        top: 430px; 
    }

    .image1,
    .image2 {
    width: 100%;
    max-height: 500px;
    height: 100%;
    margin: 0;
    }
    
    .navBoxes {
        padding: 60px 0 10px;
    }

    .navBoxes li {
        margin-bottom: 50px;
    }

    .navBoxes li p {
        display: none;
    }

    // BLOG PAGE //
    .splash--blog {
        background-position: left;
    }

    .blogPosts aside {
        display: none;
    }

    .blogPosts--grid {
        grid-template-columns: 1fr;
    }

    .firstPost {  
        overflow: hidden;
        max-height: 100%;
        transition: max-height .3s ease-in-out;
    }

    // CONTACT //
   
}