nav ul {
    padding: 10px 0;
    li {
    margin: 10px;
    a {
        padding: 10px;
}}
}

.navBar {
    background: $yellow;
    display: flex;
    justify-content: center;
    align-items: center ;
    &--head {
    margin: 0 40px 0 40px;
    }
}

.navBar li a:hover {
    color: $white;
}

// .navBar {
//     background: $yellow;
// }