// COLOR PALETTE
$black: #2c2c2c;
$white: #f0efed;
$darkBlue: #285e64;
$yellow: #f6a823;
$grey: #4f4f4f;
$lightBlue: #05afc1;
$red: #a82706;

// FONTS
$lora: 'Lora', serif;
$roboto: 'Roboto', sans-serif;

// MIXINS
// FONT FUNCTION
@mixin fontDef($size, $height, $space:1px, $font:$roboto, $weight:bold, $color:$black ) {
    font-family: $font;
    font-size: $size;
    font-weight: $weight;
    color: $color;
    line-height: $height;
    letter-spacing: $space;
};

@mixin letsMove($delay, $name:navSlide, $dur:.5s, $func:ease-out, $iterate:1, $fill:forwards, $play:running) {
    animation-duration: $dur;
    animation-timing-function: $func;
    animation-delay: $delay;
    animation-iteration-count: $iterate;
    animation-fill-mode: $fill;
    animation-play-state: $play;
    -moz-animation-name: $name;
}

// ANIMATIONS
@keyframes navSlide {
    0% {
        left: -100px;
    }
    50% {
        
    }
    100% {
        left: 330px
    }
};

