// COLOR PALETTE
$black: #2c2c2c;
$white: #f0efed;
$darkBlue: #285e64;
$yellow: #f6a823;
$grey: #4f4f4f;
$lightBlue: #05afc1;
$red: #a82706;

// FONTS
$lora: 'Lora', serif;
$roboto: 'Roboto', sans-serif;

// MIXINS
@mixin fontDef($size, $height, $space:1px, $font:$roboto, $weight:bold, $color:$black ) {
    font-family: $font;
    font-size: $size;
    font-weight: $weight;
    color: $color;
    line-height: $height;
    letter-spacing: $space;
};