html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
footer p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

input {
  border: none;
}

textarea {
  resize: none;
  border: none;
}

footer {
  background-color: #4f4f4f;
  margin: 0;
}

footer p {
  color: #f0efed;
  text-align: center;
}

footer p a:hover {
  color: #f6a823;
}

.wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0;
}

.container {
  width: 85%;
}

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flexColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blueButton, .blueButton__find {
  background-color: #05afc1;
  height: 30px;
  width: 80px;
  padding: 10px 15px;
  -webkit-transition: .2s;
  transition: .2s;
}

.blueButton__find {
  width: 180px;
  height: 50px;
}

.blueButton:hover, .blueButton__find:hover,
.blueButton:focus,
.blueButton__find:focus {
  -webkit-box-shadow: 3px 3px 0px 2px #f6a823;
          box-shadow: 3px 3px 0px 2px #f6a823;
  color: #f6a823;
}

.blueLink {
  color: #285e64;
  font-style: italic;
  font-weight: bold;
}

.blueLink:hover {
  color: #f6a823;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: regular;
  color: #2c2c2c;
  line-height: 3.2rem;
  letter-spacing: 0;
}

.navBar {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #2c2c2c;
  line-height: 2.9rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.navBar__active {
  color: #f0efed;
}

.navBar--head {
  font-family: "Lora", serif;
  font-size: 3.8rem;
  font-weight: bold;
  color: #2c2c2c;
  line-height: 3.2rem;
  letter-spacing: 1px;
}

.blueButton, .blueButton__find,
button[type=submit] {
  font-weight: bold;
  text-transform: uppercase;
  color: #2c2c2c;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}

h1 {
  font-family: "Lora", serif;
  font-size: 8rem;
  font-weight: bold;
  color: #2c2c2c;
  line-height: 9.2rem;
  letter-spacing: 0;
}

.home h1 {
  font-family: "Lora", serif;
  font-size: 14rem;
  font-weight: bold;
  color: #2c2c2c;
  line-height: 12rem;
  letter-spacing: 1px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 4.2rem;
  font-weight: bold;
  color: #2c2c2c;
  line-height: 5.04rem;
  letter-spacing: 1px;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 3.2rem;
  font-weight: bold;
  color: #2c2c2c;
  line-height: 3.84rem;
  letter-spacing: 1px;
}

.contactInfo li a {
  color: #f6a823;
}

.email {
  font-weight: bold;
}

input,
textarea {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-style: italic;
}

header.home {
  height: 85vh;
  background-color: #f6a823;
}

.heroContent {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
}

.heroContent .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.title {
  width: 50%;
  margin-right: 40px;
  position: relative;
}

.title img {
  position: absolute;
  height: 120px;
  width: 195px;
  left: 5px;
  top: 110px;
}

.home h1 {
  position: absolute;
  left: 60px;
  top: 180px;
}

.imageBox {
  margin-right: 16px;
  margin-top: 40px;
}

.imageBox img {
  height: 500px;
  width: 359px;
  -webkit-box-shadow: 16px 16px 0px 0px #ffffff;
          box-shadow: 16px 16px 0px 0px #ffffff;
}

.splash, .splash--blog, .splash--contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 65vh;
}

.splash--blog {
  background-image: url(../assets/blog-image-1.jpg);
}

.splash--contact {
  background-image: url(../assets/contact-image-1.jpg);
}

.splash--heading {
  position: absolute;
  bottom: -40px;
}

.splash .container, .splash--blog .container, .splash--contact .container {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

nav ul {
  padding: 10px 0;
}

nav ul li {
  margin: 10px;
}

nav ul li a {
  padding: 10px;
}

.navBar {
  background: #f6a823;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navBar--head {
  margin: 0 40px 0 40px;
}

.navBar li a:hover {
  color: #f0efed;
}

.who {
  background-color: #f0efed;
  padding: 80px 0 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.who .container {
  padding-right: 10%;
  width: 82%;
}

.home p {
  max-height: 260px;
}

.faves,
.travel {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 57vh;
}

.faves .container,
.travel .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.image1,
.image2 {
  width: calc(55% - 53.5px);
  max-height: 295px;
  position: relative;
  height: 100%;
}

.favesText,
.travelText {
  width: calc(50% - 60px);
}

.image1 img {
  position: absolute;
  top: -11%;
  -webkit-box-shadow: 14px 14px 0px 0px #a82706, -95px 14px 0px 0px #a82706;
          box-shadow: 14px 14px 0px 0px #a82706, -95px 14px 0px 0px #a82706;
}

.image2 img {
  position: absolute;
  top: 9%;
  -webkit-box-shadow: 14px 14px 0px 0px #f6a823, 95px 14px 0px 0px #f6a823;
          box-shadow: 14px 14px 0px 0px #f6a823, 95px 14px 0px 0px #f6a823;
}

.favesText {
  margin-top: 71px;
  padding-right: 10px;
}

.travelText {
  text-align: right;
  margin-right: 10px;
  margin-top: 25px;
}

.middleNav {
  background: #f0efed;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.middleNav li:nth-of-type(even) {
  padding-left: 10px;
}

.middleNav li {
  margin-bottom: 30px;
}

.gridTime {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  padding: 100px 0 50px;
}

.gridTime li > p {
  padding-left: 55px;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6a823;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  -webkit-transition: .3s;
  transition: .3s;
}

.icon + h3 {
  margin-left: 15px;
}

.navBoxes li a:hover .icon,
.socials:hover {
  color: #05afc1;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.journey {
  background: #f0efed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 70px 0 70px;
}

.journey__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  gap: 60px;
}

.journey__img img {
  -webkit-box-shadow: 14px 14px 0px 0px #f6a823;
          box-shadow: 14px 14px 0px 0px #f6a823;
}

.photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.photos__grid {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 60px 0;
}

.blogPosts {
  padding: 90px 0 30px;
  background-color: #f0efed;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blogPosts--grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  gap: 30px;
}

.blogPosts--post {
  background: white;
  padding: 30px;
}

.blogPosts--space {
  margin-bottom: 15px;
}

.blogPosts article img {
  width: auto;
  margin-right: 15px;
}

.blogPosts article:nth-of-type(odd) {
  border-bottom: 5px solid #f6a823;
  margin-bottom: 25px;
}

.guest + p,
aside p:nth-of-type(1) {
  margin: 0;
}

aside h4 {
  margin-bottom: 10px;
}

input#postList,
.blogPosts--post label,
input#moreBlog,
.firstPost label {
  display: none;
}

.list li::before {
  content: "\2022";
  color: #f6a823;
  margin: 0 10px 0 5px;
}

.seeMoreButton label,
.seeMoreButton input {
  display: none;
  text-align: center;
  font-size: 3rem;
  cursor: pointer;
  width: 25px;
  margin: 0 auto 25px;
}

.contactMain {
  background-color: #f0efed;
  padding: 90px 0 30px;
  height: 100%;
}

.socials {
  -webkit-transition: all .3s;
  transition: all .3s;
}

.contactMain .wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contactInfo {
  height: auto;
  width: calc(35%);
  max-height: 272px;
  overflow: none;
  background: white;
  padding: 30px;
}

.form {
  width: calc(65% - 30px);
  margin-bottom: 50px;
}

.form--users {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form--info {
  height: 60px;
  width: calc(50% - 5px);
  padding-left: 20px;
}

.form--blog {
  width: 100%;
}

.contactInfo li i {
  padding: 2px;
  margin-right: 21px;
}

.contactInfo li {
  display: inline-block;
}

.contactPage {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contactPage p {
  margin: 0;
}

.email {
  padding: 10px 0;
}

textarea {
  margin: 15px 0;
  padding: 30px 0 0 20px;
  height: 275px;
}

button[type=submit] {
  width: 100%;
  height: 50px;
  background-color: #05afc1;
  border: none;
  padding: 10px 15px;
  -webkit-transition: .2s;
  transition: .2s;
}

button[type=submit]:hover,
button[type=submit]:focus {
  -webkit-box-shadow: 4px 3px 0 0 #f6a823;
          box-shadow: 4px 3px 0 0 #f6a823;
  color: #f6a823;
}

@media (max-width: 940px) {
  header.home {
    height: 80vh;
  }
  .home h1 {
    top: 400px;
  }
  .title img {
    top: 330px;
  }
  .imageBox {
    margin-top: 20px;
  }
  .who {
    margin-bottom: 20px;
  }
  .faves,
  .travel {
    height: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .flip {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .faves .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .travel .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .favesText,
  .travelText {
    width: 82%;
    margin: 20px 0;
  }
  .image1 img,
  .image2 img {
    position: static;
  }
  .image1 img {
    -webkit-box-shadow: 14px 14px 0px 0px #a82706, -397px 14px 0px 0px #a82706, -100px 14px 0px 0px #a82706;
            box-shadow: 14px 14px 0px 0px #a82706, -397px 14px 0px 0px #a82706, -100px 14px 0px 0px #a82706;
  }
  .image2 img {
    -webkit-box-shadow: -14px 14px 0px 0px #f6a823, 397px 14px 0px 0px #f6a823, 100px 14px 0px 0px #f6a823;
            box-shadow: -14px 14px 0px 0px #f6a823, 397px 14px 0px 0px #f6a823, 100px 14px 0px 0px #f6a823;
  }
  .image1 {
    margin-left: 30%;
    -ms-flex-item-align: right;
        -ms-grid-row-align: right;
        align-self: right;
  }
  .image2 {
    margin-right: 30%;
    -ms-flex-item-align: left;
        -ms-grid-row-align: left;
        align-self: left;
  }
  aside .blueLink {
    display: block;
  }
  aside.blogPosts--post {
    text-align: center;
  }
  .listContent {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all .5s;
    transition: all .5s;
    font-size: 1.5rem;
  }
  .blogPosts--post label {
    display: block;
    cursor: pointer;
    font-size: 3rem;
  }
  .seeMoreButton:hover {
    color: #05afc1;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  input#postList:checked ~ .listContent {
    max-height: 100%;
  }
  .firstPost {
    overflow: scroll;
    max-height: 500px;
    -webkit-transition: max-height .3s ease-in-out;
    transition: max-height .3s ease-in-out;
  }
  .contactPage {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contactInfo {
    width: 100%;
  }
  .form {
    width: 100%;
    margin-top: 30px;
  }
}

@media (max-width: 768px) {
  header.home {
    background: url(../assets/home-image-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  header.home .imageBox {
    display: none;
  }
  header.home h1 {
    top: 500px;
    color: #f59e0b;
  }
  .title img {
    top: 430px;
  }
  .image1,
  .image2 {
    width: 100%;
    max-height: 500px;
    height: 100%;
    margin: 0;
  }
  .navBoxes {
    padding: 60px 0 10px;
  }
  .navBoxes li {
    margin-bottom: 50px;
  }
  .navBoxes li p {
    display: none;
  }
  .splash--blog {
    background-position: left;
  }
  .blogPosts aside {
    display: none;
  }
  .blogPosts--grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .firstPost {
    overflow: hidden;
    max-height: 100%;
    -webkit-transition: max-height .3s ease-in-out;
    transition: max-height .3s ease-in-out;
  }
}
